<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
{% clientLibrary "dantaaemdemo" type="css" cacheBuster="false" %}
<style type="text/css">
    .st0 {
        fill: #FFFFFF;
    }

    .st1 {
        opacity: 0.85;
        clip-path: url(#SVGID_2_);
        fill: #13426A;
    }

    .st2 {
        opacity: 0.71;
        clip-path: url(#SVGID_2_);
        fill: #13426A;
    }

    .st3 {
        clip-path: url(#SVGID_4_);
    }

    .st4 {
        clip-path: url(#SVGID_6_);
        fill: url(#SVGID_7_);
    }

    .st5 {
        opacity: 0.62;
        clip-path: url(#SVGID_6_);
    }

    .st6 {
        opacity: 0.3;
        clip-path: url(#SVGID_6_);
    }

    .st7 {
        clip-path: url(#SVGID_9_);
    }

    .st8 {
        clip-path: url(#SVGID_11_);
        fill: url(#SVGID_12_);
    }

    .st9 {
        opacity: 0.62;
        clip-path: url(#SVGID_11_);
    }

    .st10 {
        opacity: 0.3;
        clip-path: url(#SVGID_11_);
    }

    .st11 {
        clip-path: url(#SVGID_14_);
    }

    .st12 {
        clip-path: url(#SVGID_16_);
        fill: url(#SVGID_17_);
    }

    .st13 {
        opacity: 0.62;
        clip-path: url(#SVGID_16_);
    }

    .st14 {
        opacity: 0.3;
        clip-path: url(#SVGID_16_);
    }

    .st15 {
        fill: #13426A;
    }

    .st16 {
        fill: #98211F;
    }

    .st17 {
        fill: #E9004C;
    }

    .st18 {
        fill: url(#SVGID_18_);
    }

    .st19 {
        fill: #383A35;
    }

    .st20 {
        fill: url(#SVGID_19_);
    }

    .st21 {
        opacity: 0.9;
        fill: #F16622;
    }

    .st22 {
        fill: none;
    }

    .st23 {
        fill: #CA1F36;
    }

    .st24 {
        fill: #F05E3C;
    }

    .st25 {
        fill: #F3763A;
    }

    .st26 {
        fill: #474748;
    }

    .st27 {
        fill: url(#SVGID_20_);
    }

    .st28 {
        opacity: 0.9;
    }

    .st29 {
        fill: #0B2035;
    }

    .st30 {
        fill: url(#SVGID_21_);
    }

    .st31 {
        fill: #286CFF;
    }
</style>