<div class="container content">
    {%include "root" resourceType="wcm/foundation/components/responsivegrid"%}
</div>
<div class="container">
    <div class="alert alert-dark" role="alert">
        <h3>Page properties</h3>
        <p>These properties are stored in {%page.path%}/jcr:content</p>
        <p>Content Model stored by Out-of-the-box Context Processor</p>
        <ul>
            <li>content.bgImage: {%content.bgImage%}</li>
            <li>content.bgposition: {%content.bgposition%}</li>
        </ul>
        <p>"page" Content Model, stored by custom Context Processor triggered by "dantademo" component category.
            This is accessible by all AEM components dropped on a page built with a template that has "dantademo" as one of xk config categories (xk_componentCategory)</p>
        <ul>
            <li>page.bgImage: {%page.bgImage%}</li>
            <li>page.bgposition: {%page.bgposition%}</li>
        </ul>
    </div>
</div>