<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <h3>About Us</h3>
                <div class="row">
                    <div class="col-lg-6">
                        <dl class="resource-list">
                            <dt>
                                <a href="#" title="Success Stories" style="white-space: normal">
                                    <span>Success Stories</span>
                                </a>
                            </dt>
                            <dt>
                                <a href="http://ir.cebglobal.com/phoenix.zhtml?c=113226&amp;p=irol-irhome" title="Investors" style="white-space: normal">
                                    <span>Investors</span>
                                </a>
                            </dt>
                            <dt>
                                <a href="https://news.cebglobal.com/" title="Media" style="white-space: normal">
                                    <span>Media</span>
                                </a>
                            </dt>
                            <dt>
                                <a href="#" title="Contact Us" style="white-space: normal">
                                    <span>Contact Us</span>
                                </a>
                            </dt>
                        </dl>
                    </div>
                    <div class="col-lg-6">
                        <dl class="resource-list">
                            <dt>
                                <a href="#" title="Missions and Values" style="white-space: normal">
                                    <span>Missions and Values</span>
                                </a>
                            </dt>
                            <dt>
                                <a href="#" title="Awards and Accolades" style="white-space: normal">
                                    <span>Awards and Accolades</span>
                                </a>
                            </dt>
                            <dt>
                                <a href="#" title="Global Locations" style="white-space: normal">
                                    <span>Global Locations</span>
                                </a>
                            </dt>
                        </dl>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <h3>Popular Links</h3>
                <dl class="resource-list">
                    <dt>
                        <a href="https://www.cebglobal.com/shl/us" title="CEB Talent Assessment" style="white-space: normal">
                            <span>CEB Talent Assessment</span>
                        </a>
                    </dt>
                    <dt>
                        <a href="https://www.cebglobal.com/blogs" title="CEB Blogs" style="white-space: normal">
                            <span>CEB Blogs</span>
                        </a>
                    </dt>
                    <dt>
                        <a href="#" title="CEB Corporate Citizenship" style="white-space: normal">
                            <span>CEB Corporate Citizenship</span>
                        </a>
                    </dt>
                    <dt>
                        <a href="#" title="CEB Alumni Network" style="white-space: normal">
                            <span>CEB Alumni Network</span>
                        </a>
                    </dt>
                </dl>
            </div>
            <div class="col-lg-4">
                <h3>Connect With Us</h3>
                <div class="footer-social-media-icons">
                    <a href="https://www.linkedin.com/company/cebglobal" target="_blank" id="linkedin">
                            <i class="fa fa-linkedin-square"></i>
                        </a>
                    <a href="https://www.facebook.com/cebglobal" target="_blank" id="facebook">
                            <i class="fa fa-facebook-square"></i>
                        </a>
                    <a href="https://plus.google.com/114009140581342258956/posts" target="_blank" id="googleplus">
                            <i class="fa fa-google-plus-square"></i>
                        </a>
                    <a href="https://twitter.com/CEB_News" target="_blank" id="twitter">
                            <i class="fa fa-twitter-square"></i>
                        </a>
                    <a href="https://www.youtube.com/ceb" target="_blank" id="youtube">
                            <i class="fa fa-youtube-square"></i>
                        </a>
                    <br />
                    <a href="#" id="rss"><i class="fa fa-rss-square"></i></a>
                    <a href="http://www.slideshare.net/CEB-Slideshare/" target="_blank" id="slideshare">
                            <i class="fa fa-slideshare"></i>
                        </a>
                    <a href="https://instagram.com/lifeatceb" target="_blank" id="instagram">
                            <i class="fa fa-instagram"></i>
                        </a>
                </div>
            </div>
        </div>
        <hr />
        <ul class="footer-links">
            <li><a href="http://ir.cebglobal.com/phoenix.zhtml?c=113226&amp;p=irol-irhome" target="_blank">Investors</a></li>
            <li><a href="#">Terms of Service</a></li>
            <li><a href="#">Privacy Statement</a></li>
            <li><a href="#">Cookie Info</a></li>
            <li><a href="#">Copyright &amp; Citation Inquiries</a></li>
            <li><a href="#">Site Map</a></li>
        </ul>
        <p class="copyright">
            &copy; 2017 CEB. All Rights Reserved.
        </p>
    </div>
</footer>