<sly data-sly-use.cebFullwidthTemplate="layerx.demo.ceb.components.CEBFullwidthTmpl">
    <p>${cebFullwidthTemplate.parName}</p>
    <sly data-sly-list.par="${cebFullwidthTemplate.pars}">
        <div class="clearfix">${par.name}: ${par.resType}</div>
        <sly data-sly-test="${par.isDefault}">
            <sly data-sly-resource="${@path=par.name, resourceType=par.resType}"></sly>
            <div class="clearfix"></div>
        </sly>
        <sly data-sly-test="${par.leading}">
            <div class="${par.leader}">
                <sly data-sly-resource="${@path=par.name, resourceType=par.resType}"></sly>
            </div>
        </sly>
        <sly data-sly-test="${par.following}">
            <div class="${par.following}">
                <sly data-sly-resource="${@path=par.name, resourceType=par.resType}"></sly>
            </div>
        </sly>
    </sly>
</sly>