{%#if carousel%}
<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        {%#each carousel.slides%}
        <div class="carousel-item{%#if @first%} active{%/if%}">
            <img class="d-block w-100" src="{% img %}" alt="{%title%}">
        </div>
        {%/each%}
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
{%/if%}
{%#unless carousel%}
Carousel - Danta Component
{%/unless%}