<nav class="navbar navbar-toggleable-md fixed-top" id="stickyNavBar">
    <div class="container">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="/content/layerxaemdemo/home.html">
            <img src="https://www.cebglobal.com/content/cebglobal/us/en/jcr%3acontent/content-top/header.img.png/1482943354407.png" />
        </a>
        {%#if page.config.userGroups.ceb_users%}
        <span class="section-title">{%page.config.userGroups.userSiteName%}</span>
        <div class="collapse navbar-collapse autheduser" id="navbarCollapse">
            <ul class="navbar-nav mr-auto xk-ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">&nbsp;</a>
                </li>
            </ul>
            <form class="form-inline mt-2 mt-md-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><i class="fa fa-search"></i></button>
            </form>
            <ul class="nav" id="myTab" role="tablist">
                <li class="nav-item">
                    <a href="#" class="nav-link"><i class="fa fa-star"></i></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-user"></i>
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" id="dropdown1-tab" href="#dropdown1"
                           role="tab" data-toggle="tab" aria-controls="dropdown1">Logout</a>
                    </div>
                </li>
            </ul>
        </div>
        {%else%}
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto xk-ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">
                        <i class="icon-m"><img src="https://www.cebglobal.com/content/dam/cebglobal/us/EN/site-wide-assets/images/visual-identity-image-library/icons/icon-globe-blue.png" alt="CEB Global"></i>
                        CEB Global
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <i class="icon-m"><img src="https://www.cebglobal.com/content/dam/cebglobal/us/EN/site-wide-assets/images/visual-identity-image-library/icons/icon-peoplecoed2-blue.png" alt="Careers"></i>
                        Careers
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <i class="icon-m"><img src="https://www.cebglobal.com/content/dam/cebglobal/us/EN/site-wide-assets/images/visual-identity-image-library/icons/icon-quote-blue.png" alt="Contact Us"></i>
                        Contact Us
                    </a>
                </li>
            </ul>
            <form class="form-inline mt-2 mt-md-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><i class="fa fa-search"></i></button>
            </form>
        </div>
        {%/if%}
    </div>
</nav>
{%#if page.config.userGroups.ceb_users%}
<div class="mainNav autheduser" id="mainNav">
    <div class="container">
        <ul class="nav">
            <li><a href="#">Topics</a></li>
            <li><a href="#">Projects</a></li>
            <li><a href="#">Events</a></li>
            <li><a href="#">Discussions</a></li>
            <li><a href="#">Benchmarks</a></li>
            <li><a href="#">Sales in Asia</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">About</a></li>
        </ul>
    </div>
</div>
{%else%}
<div class="mainNav" id="mainNav">
    <div class="container">
        <ul class="nav">
            <li><a href="#">Solutions</a></li>
            <li><a href="#">Insights</a></li>
            <li><a href="#">Technologies</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Success Stories</a></li>
            <li><a href="#">About</a></li>
            <li class="hl l"><a href="/content/layerxaemdemo/userpage.html">CEB Login</a></li>
            <li class="hl r"><a href="#">Get Started with CEB</a></li>
        </ul>
    </div>
</div>
{%/if%}