
<div class="tagline-upper text-center text-heading text-shadow text-white mt-5 d-none d-lg-block">
    {% global.siteName %}
</div>
<div class="tagline-lower text-center text-expanded text-shadow text-uppercase text-white mb-5 d-none d-lg-block">
    {% global.tagLine %}
</div>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light bg-faded py-lg-4">
  <div class="container">
	<a class="navbar-brand text-uppercase text-expanded font-weight-bold d-lg-none" href="#">Start Bootstrap</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
	  <span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarResponsive">
		{%#if navigation%}
	  <ul class="navbar-nav mx-auto">
		  {%#each navigation.pages%}
		  {%!<li class="nav-item active px-lg-4">
		  <a class="nav-link text-uppercase text-expanded" href="index.html">Home
			<span class="sr-only">(current)</span>
		  </a>
		</li>%}
		<li class="nav-item px-lg-4">
		  <a class="nav-link text-uppercase text-expanded" href="{% path %}.html">{%#if title%}{% title
			  %}{%/if%}{%#unless navigation%}{% name %}{%/unless%}</a>
		</li>
		  {%/each%}
	  </ul>
		{%/if%}
		{%#unless navigation%}

		Set navigation path in global properties

		{%/unless%}
	</div>
  </div>
</nav>